version: '3.8'

services:
  shop:
    container_name: shop_container
    build: 
      context: ./src/shop
    ports:
      - '3000:3000'
    networks:
      - postgres
    depends_on:
     - server

  server:
    container_name: server_container
    image: node:lts-stretch-slim
    working_dir: /home/node/app
    volumes:
      - './:/home/node/app'
    ports:
      - '4000:4000'
    networks:
      - postgres
    command: 'sh -c "sleep 3s && yarn start"'
    depends_on:
     - postgres

  postgres:
    container_name: postgres_container
    image: postgres:14.2
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    ports:
      - '5433:5432'
    networks:
      - postgres
    volumes:
      - postgres:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - '${PGADMIN_PORT:-5050}:80'
    networks:
      - postgres
    restart: unless-stopped
    depends_on:
     - postgres

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
  pgadmin:
